
//Variáveis do Menu Principal
$conf_menu_shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
$bg_menu_color: #007ab6;
$txt_menu_color: #ffffff;
$bg_hover_menu_color: #007ab6;

//Propriedades Content
$bg_header_content: #ffdf00;
$raio_box_panel: 20px;
$bg_amarelo_solid: #ffdf00;
$bg_azul_solid: #007ab6;

//Propriedades Botão Etapas
$bg_botao_etapa: #ffdf00;
$bg_hover_botao_etapa: #ffdf00;