
// Cores Principais
$cl_primary: #333439;
$cl_dark: #4a4c73;
$cl_light: #ffffff;

//Cores de Content
$cont_cl_txt_lg: #333439;
$cont_cl_bg_lg: #f4f3ed;
$cont_cl_txt_drk: #ffffff;
$cont_cl_bg_drk: #4a4c73;
$sec_head_cl: #dbdad5;
$border_cl: #dbdad5;

// Cores de Formulário
$form_txt_cl: #dbdad5;
$form_bt_cl: #00beb2;
$form_bt_cl_ho: #06a59b;
$form_bd_cl: #258b85;

//Padrões para mixins
$menu_radius:10px;